* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

header {
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  outline: 0.5px solid white;
  overflow: hidden;
  padding: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:not(:first-child):hover {
  border-radius: 3px 0 3px 0;
  outline: 0.5px solid white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  font-size: 20px;
  font-weight: bold;
  margin-right: 800px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.hero-text {
  display: flex;
  flex: column;
  justify-content: space-between;
  color: white;
  margin-left: 40px;
}

.name {
  font-family: 'Lausanne', sans-serif;
  font-size: 80px;
}

.second-text {
  margin-top: 205px;
  margin-right: 350px;
}

.description {
  font-family: 'helvetica';
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  /* padding-top: 180px;
  margin-right: 200px; */
}

.breaking {
  margin: 40px;
  opacity: 40%;
}

.socials {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: 'helvetica';
  margin: 40px;
  padding-bottom: 40px;
}

.socials p {
  font-size: 16px;
  font-weight: bold;
}

.social-media {
  display: flex;
  margin-left: 250px;
}

.socials pre {
  font-size: 16px;
  /* padding-left: 40px;
  padding-right: 40px; */
}

.first p {
  font-size: 16px;
  color: rgb(100, 100, 100);
  font-family: 'helvetica';
}

.first a {
  text-decoration: none;
  color: white;
  font-family: 'helvetica';
  font-size: 16px;
}

.second {
  margin-left: 150px;
}

.second p {
  font-size: 16px;
  color: rgb(100, 100, 100);
  font-family: 'helvetica';
}

.second a {
  text-decoration: none;
  color: white;
  font-family: 'helvetica';
  font-size: 16px;
  padding-top: 16px;
  display: grid;
}

.about {
  background-color: #202020;
  font-family: 'helvetica';
  margin-top: -40px;
}

.about p {
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: 'helvetica';
  line-height: 30px;
  margin-top: -70px;
  padding-left: 40px;
  padding-right: 40px;
  white-space: wrap;
}

.bighead {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

.bighead pre {
  font-size: 13px;
  color: white;
  padding-top: 25px;
  font-family: 'helvetica';
}

.bighead h5 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  white-space: wrap;
  padding-left: 550px;
}

.learn-more {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  padding-left: 620px;
  padding-bottom: 40px;
}

.learn-more img {
  padding-right: 15px;
}

.learn-more span {
  font-family: 'helvetica';
  color: white;
  font-size: 16px;
  line-height: 24px;
}

.btn {
  padding: 4;
  font-family: 'helvetica';
  font-size: 16px;
  background: none;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  padding: 4px;
  transition: 0.3s;
  margin-top: 10px;
}

.btn:hover {
  background: white;
  color: black;
}

.projects {
  margin: 40px;
}

.col1 {
  display: flex;
  justify-content: space-between;
}

.col1 pre {
  font-size: 13px;
  color: white;
  padding-top: 25px;
  font-family: 'helvetica';
}

.col1 p {
  font-family: 'helvetica';
  color: white;
  font-size: 16px;
  line-height: 24px;
  white-space: wrap;
  padding-top: 105px;
  padding-left: 250px;
}

.col2 {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.col2 img {
  padding: 20px;
}

.myapproach {
  font-family: 'helvetica';
  background-color: #2e2e2d;
  margin-top: -40px;
  color: white;
}

.maindiv {
  margin: 40px;
  display: flex;
  justify-content: space-between;
}

.maindiv pre {
  font-size: 13px;
  color: white;
  padding-top: 25px;
  font-family: 'helvetica';
}

.approach {
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.approach span {
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: 'helvetica';
}

.arrange {
  display: flex;
  justify-content: space-between;
}

.p1 h6 {
  font-size: 16px;
  font-family: helvetica;
  margin-bottom: -10px;
}

.p1 p {
  font-size: 13px;
  line-height: 24px;
  white-space: wrap;
  font-family: helvetica;
}

.p2 {
  padding-left: 10px;
}

.p2 h6 {
  font-size: 16px;
  font-family: helvetica;
  margin-bottom: -10px;
}

.p2 p {
  font-size: 13px;
  line-height: 24px;
  white-space: wrap;
  font-family: helvetica;
}

.design-process {
  padding-bottom: 60px;
  padding-top: 40px;
}

.design-process a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #f2f2f2;
  margin: 40px;
  padding: 40px;
  border-radius: 3px;
  outline: 0.5px solid #f2f2f2;
}

.design-process a:hover {
  background-color: #f2f2f2;
  color: black;
}

.process {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

.process pre {
  font-family: 'helvetica';
  font-size: 13px;
  color: white;
}

.pr1 {
  display: flex;
  justify-content: space-between;
  white-space: wrap;
  margin-left: 370px;
}

.pr1 p {
  font-family: 'helvetica';
  font-size: 16px;
  font-weight: bold;
  margin-left: 100px;
}

.dsprocess {
  margin: 40px;
  width: 94%;
}

.contact p {
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: 'helvetica';
  line-height: 30px;
  margin-top: -70px;
  padding-left: 40px;
  padding-right: 40px;
  white-space: wrap;
}

.frm {
  text-align: right;
  margin-right: 40px;
}

form {
  font-family: 'helvetica';
  padding: 20px;
  color: white;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-right: 610px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid white;
  background: none;
  color: white;
  border-radius: 7px;
  margin-bottom: 20px;
  width: 55%;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #6ab4d6;
}

button[type='submit'] {
  background: none;
  outline: 1px solid white;
  color: white;
  padding: 4px;
  font-size: 16px;
  font-family: 'helvetica';
  font-weight: bold;
  border: none;
  transition: 0.3s;
  border-radius: 7px;
  cursor: pointer;
  margin-right: 660px;
  margin-bottom: 40px;
}

button[type='submit']:hover {
  background-color: white;
  color: black;
}

.footer {
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: 'helvetica';
  padding: 10px;
  margin-top: 80px;
}

.foot1 {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}

.foot1 pre {
  font-family: 'helvetica';
  font-size: 13px;
  color: #a6a6a6;
}

.foot1 p {
  font-family: 'helvetica';
  font-size: 13px;
  padding-left: 50px;
}

.footlast {
  margin-right: 40px;
  margin-top: 15px;
}

.footlast a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
  font-family: 'helvetica';
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 640px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    margin-top: -50px;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 640px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    /* left: 350px; */
    right: 0;
    top: 82px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .hero-text {
    display: block;
    text-align: center;
    color: white;
  }

  .name {
    font-family: 'Lausanne', sans-serif;
    font-size: 18px;
  }

  .second-text {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 10px;
  }

  .description {
    font-family: 'helvetica';
    font-size: 14px;
    font-weight: thin;
    line-height: 24px;
    color: #f2f2f2;
  }

  .breaking {
    margin: 20px;
    opacity: 40%;
  }

  .socials {
    display: block;
    color: #f2f2f2;
    font-family: 'helvetica';
    margin: 40px;
    padding-bottom: 20px;
  }

  .socials p {
    font-size: 12px;
    color: #f2f2f2;
  }

  .social-media {
    display: flex;
    margin-left: 0;
  }

  .socials pre {
    font-size: 12px;
    padding-top: 5px;
    /* padding-left: 40px;
    padding-right: 40px; */
  }

  .first p {
    font-size: 14px;
    color: rgb(100, 100, 100);
    font-family: 'helvetica';
  }

  .first a {
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'helvetica';
    font-size: 12px;
  }

  .second {
    margin-left: 50px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 80px);
  }

  .i1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .second p {
    font-size: 14px;
    color: rgb(100, 100, 100);
    font-family: 'helvetica';
  }

  .second a {
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'helvetica';
    font-size: 12px;
    padding-bottom: 20px;
  }

  .about p {
    font-size: 10px;
    color: #f2f2f2;
    font-family: 'helvetica';
    line-height: 18px;
    margin-top: -50px;
    padding-left: 40px;
    padding-right: 80px;
    white-space: wrap;
  }

  .bighead {
    display: flex;
    justify-content: space-between;
    margin: 40px;
  }

  .bighead pre {
    font-size: 10px;
    color: #f2f2f2;
    padding-top: 25px;
    font-family: 'helvetica';
  }

  .bighead h5 {
    font-size: 14px;
    font-weight: bold;
    color: #f2f2f2;
    white-space: wrap;
    padding-left: 30px;
    padding-top: 15px;
  }

  .learn-more {
    display: grid;
    margin: 40px;
    padding-left: 0;
    padding-bottom: 20px;
  }

  .learn-more img {
    width: 300px;
    height: 220px;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .learn-more span {
    font-family: 'helvetica';
    color: #f2f2f2;
    white-space: wrap;
    font-size: 13px;
    min-width: min-content;
    line-height: 20px;
    padding-right: 90px;
  }

  .btn {
    padding: 4;
    font-family: 'helvetica';
    font-size: 14px;
    background: none;
    /* font-weight: bold; */
    border: 1px solid white;
    border-radius: 3px;
    color: #f2f2f2;
    cursor: pointer;
    padding: 4px;
    transition: 0.3s;
    margin-top: 10px;
  }

  .btn:hover {
    color: #f2f2f2;
    color: black;
  }

  .projects {
    margin-left: 40px;
    margin-top: 20px;
  }

  .col1 {
    display: grid;
    justify-content: space-between;
  }

  .col1 pre {
    font-size: 12px;
    color: #f2f2f2;
    padding-top: 25px;
    font-family: 'helvetica';
  }

  .col1 p {
    font-family: 'helvetica';
    color: #f2f2f2;
    font-size: 12px;
    line-height: 20px;

    padding-top: 55px;
    padding-left: 30px;
  }

  .col2 {
    margin-top: 20px;
    display: grid;
    justify-content: space-between;
    outline: 0.5px solid #f2f2f2;
    border-radius: 5px;
    padding: 5;
  }

  .im2,
  .im1 {
    height: 220px;
    width: 290px;
  }

  .col2 img {
    padding: 20px;
  }

  .adjust {
    display: hidden;
  }

  .myapproach {
    font-family: 'helvetica';
    background-color: #2e2e2d;
    margin-top: -40px;
    color: #f2f2f2;
  }

  .maindiv {
    display: block;
  }

  .maindiv pre {
    font-size: 13px;
    color: #f2f2f2;
    padding-top: 25px;
    font-family: 'helvetica';
  }

  .approach {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .approach span {
    font-size: 12px;
    color: #f2f2f2;
    font-weight: bold;
    font-family: 'helvetica';
  }

  .arrange {
    display: grid;
    grid-template-columns: repeat(2, 130px);
  }

  .p1 h6 {
    font-size: 12px;
    font-family: helvetica;
    margin-bottom: -10px;
  }

  .p1 p {
    font-size: 12px;
    line-height: 18px;
    white-space: wrap;
    font-family: helvetica;
  }

  .p2 {
    padding-left: 10px;
  }

  .p2 h6 {
    font-size: 12px;
    font-family: helvetica;
    margin-bottom: -10px;
  }

  .p2 p {
    font-size: 12px;
    line-height: 18px;
    white-space: wrap;
    font-family: helvetica;
  }

  .design-process {
    padding-bottom: 50px;
    padding-top: 0;
    padding-left: 20px;
  }

  .design-process a {
    text-decoration: none;
    font-size: 10px;
    color: #f2f2f2;
    margin: 4px;
    padding: 8px;
    border-radius: 5px;
    outline: 0.5px solid #f2f2f2;
  }

  .design-process a:hover {
    background-color: #f2f2f2;
    color: black;
  }

  .process {
    display: block;
  }

  .process pre {
    font-family: 'helvetica';
    font-size: 13px;
    color: #f2f2f2;
  }

  .pr1 {
    display: block;
    /* white-space: wrap; */
    margin-left: -70px;
  }

  .pr1 p {
    font-family: 'helvetica';
    font-size: 12px;
    color: #f2f2f2;
  }

  .dsprocess {
    height: 50px;
    width: 320px;
    margin-top: -10px;
  }

  .contact p {
    font-size: 12px;
    color: #f2f2f2;
    font-family: 'helvetica';
    line-height: 30px;
    margin-top: -50px;
    padding-left: 40px;
    padding-right: 40px;
    white-space: wrap;
  }

  .frm {
    text-align: right;
    margin-left: 40px;
  }

  form {
    font-family: 'helvetica';
    padding: 10px;
    color: #f2f2f2;
    border-radius: 3px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    margin-right: 240px;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #f2f2f2;
    background: none;
    color: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 100%;
  }

  input:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #6ab4d6;
  }

  button[type='submit'] {
    background: none;
    outline: 1px solid white;
    color: #f2f2f2;
    padding: 4px;
    font-size: 12px;
    font-family: 'helvetica';
    font-weight: bold;
    border: none;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  button[type='submit']:hover {
    background-color: #f2f2f2;
    color: black;
  }

  .footer {
    border-top: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'helvetica';
    padding: 10px;
    margin-top: 20px;
  }

  .foot1 {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
  }

  .foot1 pre {
    font-family: 'helvetica';
    font-size: 8px;
    color: #a6a6a6;
  }

  .foot1 p {
    font-family: 'helvetica';
    font-size: 8px;
    padding-left: 20px;
  }

  .footlast {
    margin-right: 40px;
    margin-top: 3px;
  }
  .last-p p {
    font-size: 8px;
    padding-left: 8px;
  }
  .footlast a {
    text-decoration: none;
    color: white;
    padding-left: 15px;

    font-size: 8px;
    font-family: 'helvetica';
  }
}
